<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PPAPBTravelakuy"
        tools:targetApi="31">
        <activity
            android:name=".usermenu.OrderDetailFragment"
            android:theme="@style/Base.Theme.PPAPBTravelakuy.WithActionBar"
            android:label="Detail Pemesanan"
            android:exported="false" />
        <activity
            android:name=".adminmenu.MainActivity"
            android:exported="false" />
        <activity
            android:name=".usermenu.ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".usermenu.HistoryFragment"
            android:exported="false" />
        <activity
            android:name=".usermenu.HomeFragment"
            android:exported="false"
            android:label="@string/title_activity_home_fragment" />
        <activity
            android:name=".usermenu.MainActivity"
            android:exported="false" />
        <activity
            android:name=".usersignin.SigninFragment"
            android:exported="false" />
        <activity
            android:name=".usersignin.LoginFragment"
            android:exported="false" />
        <activity
            android:name=".usersignin.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>